# Portada

### Estudiantes:

    Jason Solano 

    Percy herrara
### Curso
    Inteligencia de negocios y mineria de datos
### Trabajo
    Projecto Final

# Fase de Entendimiento del negocio

## Objetivos del negocio

- Facilitar el pronóstico de cuentas que pueden ser incobrables a un largo plazo para poder establecer un arreglo de pago para realizar una liquidación adecuada de la cuenta.


- Poder ofrecer una herramienta para el diseño robusto de campañas de cobro de carteras de crédito, las cuales pueden estar conformadas con cuentas que pueden ser incobrables.

## Criterios de éxito en términos de negocio

- Lograr la identificación exitosa de cuentas que pueden ser incobrables para una entidad financiera, reduciendo la cantidad de cuentas incobrables al menos en 30% de acuerdo a los datos históricos de la entidad financiero.


- Mostrar a las entidades financieros cuales son los atributos de los clientes  que lo puede llevar a ser una cuenta incobrable para poder facilitar la estadística descriptiva de la entidad financiera.

## Objetivos de minería de datos

- Identificar por medio de modelos de predicción potenciales cuentas que puedan ser incobrables en un futuro, para ofrecer una liquidación por medio de un arreglo de pago.

- Identificar cuales son los atributos que más influyen para determinar si una cuenta se le debe realizar la oferta de liquidación debido a que  es catalogada como incobrabl

## Criterios de éxito para la minería de datos

- Obtener al menos un modelo que presente un accuracy (métrica de precisión para exactitud) mayor a un 70% con la utilización de datos externos a los utilizados en el entrenamiento.

- Optimizar con diferentes parámetros al menos tres modelos utilizados para la predicción en la categoría de clasificación binaria.

# Fase de Entendimiento de los datos

## Descripción de los datos

### Información del conjunto de datos


El conjunto de datos es sobre información de campaña de recoleccion de dineros de cuentas en mora, es la informacion sobre clientes contactados, con una oferta concreta para cerrar su cuenta en mora por un monto inferior al actual.

El conjunto de datos esta separado por dos archivos CSV, los cuales vamos a unir

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df1 = pd.read_csv('proyectoF1T.csv')
df2 = pd.read_csv('proyectoF2F.csv')
print(df1.shape)
df1.head()

(2595, 31)

,id,approval_amount,recommendation,redeem_ts,contacted,email_contacted_ts,sms_contacted_ts,birth_dt,state,city,...,account_payment_method,collections_category,days_past_due,number_of_payments,amount_financed,data_correction,merchant_id,source,initial_decision,last_payment_amount
0,503603788,250.0,APPROVE,2019-01-24 09:50:41.115000,False,NaN,2019-01-24 09:36:27.784000,1988-05-21,CO,Aurora,...,MANUAL,NaN,0,52,NaN,False,14206566,MERCHANT,APPROVED,70.34
1,399999590,80.0,APPROVE,2019-01-24 17:34:47.768000,False,2019-01-24 12:16:54.626000,NaN,1998-01-13,TX,Weatherford,...,MANUAL,NaN,0,26,0.0,False,107313386,INTERNET,APPROVED,NaN
2,330633304,956.0,APPROVE,2019-01-24 18:18:53.120000,False,2019-01-24 13:17:29.359000,2019-01-24 13:15:59.087000,1975-12-09,WA,Othello,...,MANUAL,NaN,0,12,0.0,False,230266536,MERCHANT,APPROVED,NaN
3,422247835,9.0,APPROVE,2019-01-24 18:36:06.694000,False,NaN,2019-01-24 13:19:17.988000,1985-09-09,CA,Imperial,...,MANUAL,NaN,0,26,0.0,False,332752404,MERCHANT,APPROVED,NaN
4,427183074,250.0,APPROVE,2019-01-25 08:47:49.726000,False,2019-01-24 09:08:46.690000,2019-01-24 09:08:20.447000,1980-11-23,OH,Cleveland,...,MANUAL,NaN,0,26,0.0,False,358414568,MERCHANT,APPROVED,NaN

### Se realiza la unión de los dos datasets

Por lo cual se puede ver la cantidad de registros y columnas.

Cantidad Registros: 6095

Cantidad de columnas: 31

In [2]:
df1 = df1.append(df2)
df2 = None    
print(df1.shape)

(6095, 31)

### Se observan las variables del dataset

In [3]:
df1.columns

Index(['id', 'approval_amount', 'recommendation', 'redeem_ts', 'contacted',
       'email_contacted_ts', 'sms_contacted_ts', 'birth_dt', 'state', 'city',
       'zip_code', 'rent_or_own', 'months_at_current_residence',
       'years_at_current_residence', 'direct_deposit', 'black_listed',
       'language_preference', 'military_applicant', 'payment_frequency',
       'scheduled_payment_amt', 'past_due_amt', 'account_payment_method',
       'collections_category', 'days_past_due', 'number_of_payments',
       'amount_financed', 'data_correction', 'merchant_id', 'source',
       'initial_decision', 'last_payment_amount'],
      dtype='object')

## Explicación de las columnas

- id
    - Id de cada fila.
- merchant_id
    - Id para cada comerciante.
- last_payment_amount
    - La cantidad del último pago realizado.
- birth_dt
    - Fecha de cumpleaños de cada cliente
- redeem_ts
    - Personas a las cuales se les debe ofrecer la oferta de liquidación, fecha que se hizo.
- account_payment_method
    - Forma de pago configurada para la cuenta.
- approval_amount
    - Monto aprobado del préstamo.
- scheduled_payment_amt
    - Monto de la cuota configurada para el préstamo.
- days_past_due
    - Días en que acumula en mora la cuenta.
- past_due_amt
    - Monto que se encuentra en atraso para la cuenta.
- zip_code
    - Código postal del cliente al cual le pertenece la cuenta.
- age
    - Edad del cliente de la cuenta.
- city
    - Ciudad de domicilio del cliente.
- sms_contacted_ts
    - Fecha en que se le contactó por medio de mensaje de texto al celular.
- state
    - Estado de domicilio de la persona de la cuenta.
- years_at_current_residence
    - Años viviendo en la actual residencia.
- months_at_current_residence
    - Meses viviendo en la actual residencia.
- source
    - Fuente desde donde se genero el préstamo (Internet, Agencia, etc).
- collections_category
    - Columna no especificamente descripta.
- email_contacted_ts
    - Fecha en que se le contactó por medio de correo electrónico.
- payment_frequency
    - Frecuencia de pago de la cuenta.
- number_of_payments
    - Cantidad de pagos necesarios para cancelar la cuenta.
- rent_or_own
    - Es propietario de vivienda o renta.
- initial_decision
    - Decisión inicial al crear la cuenta (Aprobación o Denegar).
- language_preference
    - Lenguaje en que prefiere el cliente ser contactado (Español o Inglés).
- contacted
    - Si se logró contactar anteriormente.
- data_correction
    - Si se tuvo que corregir los datos del cliente en algún momento (True, False).
- black_listed
    - Si en algún momento el cliente fue incluido en lista negra por fraude.
- direct_deposit
    - Si la el préstamo está configurado para recibir los pagos de forma automática por depósito.
- recommendation
    - Recomendación que se señaló al formalizar la cuenta (Aprobar o Denegar).
- military_applicant
    - Si el cliente es veterano o actualmente miembro de la fuerza militar.

### Tipos de datos

    id                               int64

    approval_amount                float64

    recommendation                  string

    redeem_ts                         date

    contacted                         bool

    email_contacted_ts                date

    sms_contacted_ts                  date

    birth_dt                          date

    state                           string

    city                            string

    zip_code                         int64

    rent_or_own                     string

    months_at_current_residence      int64

    years_at_current_residence       int64

    direct_deposit                    bool

    black_listed                      bool

    language_preference             string

    military_applicant                bool

    payment_frequency               string

    scheduled_payment_amt          float64

    past_due_amt                   float64

    account_payment_method          string

    collections_category            string

    days_past_due                    int64

    number_of_payments               int64

    amount_financed                float64

    data_correction                   bool

    merchant_id                      int64

    source                          string

    initial_decision                string

    last_payment_amount            float64

### Datos generales del conjunto de datos

In [6]:
df1.describe()

,id,approval_amount,zip_code,months_at_current_residence,years_at_current_residence,scheduled_payment_amt,past_due_amt,days_past_due,number_of_payments,amount_financed,merchant_id,last_payment_amount
count,6.095000e+03,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,6095.000000,2855.0,6.095000e+03,3044.000000
mean,4.565517e+08,557.357670,61592.610008,2.070057,3.547990,107.171736,94.349810,14.462510,32.452174,0.0,1.991524e+08,117.082050
std,1.730670e+08,371.192573,28386.361369,3.213727,3.137995,89.448125,357.118752,46.452751,14.133418,0.0,1.718332e+08,102.038427
min,4.396600e+04,3.000000,0.000000,0.000000,0.000000,-83.120000,0.000000,0.000000,12.000000,0.0,2.110000e+02,-1344.000000
25%,3.692606e+08,274.000000,33012.000000,0.000000,1.000000,48.040000,0.000000,0.000000,24.000000,0.0,1.853463e+07,62.007500
50%,4.760580e+08,487.000000,76119.000000,0.000000,3.000000,80.430000,0.000000,0.000000,26.000000,0.0,1.660589e+08,93.760000
75%,5.770807e+08,764.000000,85041.000000,3.000000,6.000000,134.450000,0.000000,0.000000,52.000000,0.0,3.524943e+08,146.012500
max,8.277996e+08,2899.000000,320568.000000,24.000000,48.000000,696.710000,3714.450000,337.000000,52.000000,0.0,4.902396e+08,2240.740000

Por medio del describe se nos muestra un summary de cuartiles, cantidad de registros,la media y desviación estandar

## Exploración de los datos y verificación de datos

Para esta sección se aplicaran ambos casos, aunque también se ha aplicado exploración de los datos en la sección anterior.

### Analisis de variables nulas

En la siguiente sección se evaluara la cantidad de nulos, esta cantidad sera mostrada por medio del porcentaje de nulos para cada columna.

In [7]:
df1.isna().mean().round(4)

id                             0.0000
approval_amount                0.0000
recommendation                 0.0000
redeem_ts                      0.5742
contacted                      0.0000
email_contacted_ts             0.0786
sms_contacted_ts               0.3993
birth_dt                       0.0000
state                          0.0000
city                           0.0003
zip_code                       0.0000
rent_or_own                    0.0000
months_at_current_residence    0.0000
years_at_current_residence     0.0000
direct_deposit                 0.0028
black_listed                   0.0000
language_preference            0.0000
military_applicant             0.0000
payment_frequency              0.0000
scheduled_payment_amt          0.0000
past_due_amt                   0.0000
account_payment_method         0.0000
collections_category           0.4167
days_past_due                  0.0000
number_of_payments             0.0000
amount_financed                0.5316
data_correction                0.0000
merchant_id                    0.0000
source                         0.0000
initial_decision               0.0000
last_payment_amount            0.5006
dtype: float64

Se puede observar existe varias columnas que contienen un alto porcentaje de nulos, por lo cual en la siguiente fase seran evaluadas.

### Análisis para conversión de datos

Algunas variables presentan valores nulos, que en una representacion binario serian de un valor cero y si contienen datos serian un valor 1.

**sms_contacted_ts**

Esta columna aplica dado que los nulos equivalen a personas que no fueron contactadas por SMS, esta información si es importante para nuestro análisis, en la siguiente fase remplazaremos estos valores por valores booleanos para identificar las personas contactadas por este medio.

**emal_contacted**

Esta columna aplica dado que los nulos equivalen a personas que no fueron contactadas por email, esta información si es importante para nuestro análisis, en la siguiente fase remplazaremos estos valores por valores booleanos para identificar las personas contactadas por este medio.

**redeem_ts**

Un caso muy similar a las otra columnas donde los valores nulos serian personas que no se le presentaron oferta, y las instancias con valores de fecha serian las personas que si se le presentaron una oferta.

**direct_deposit**

Columna Booleane que indica si se hizo un depósito directo, para el caso de los valores nulos que se encuentran seran tomados como falsos.